body{background-color: gray;
    font-family:sans-serif;

}

header{
    justify-content: center;
    display: flex;
    background-color: red;
    flex-wrap: wrap;
}


h2{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    

}


.menu{
    background-color:black;
    justify-content:flex-end;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    max: width 100px;
    margin: auto;
    padding: 0%;
    margin: 0%;
    flex-wrap: wrap;

}

.ul li{
    list-style: none;
}

.nav, li, a{
    background-color: white;
    color: red;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    float: left;
    position: relative;
    
    



}

.a::before,
.a::after{
    top:0;
    bottom: 0;
    margin: auto;
    height: 0.1em;
    width: 0;

}

.a::before{
    left: 0;

}

.a::after{
    background-color: red;
    right: 0;

}


.nav li :hover a{
    background-color: gray;
}

h4{
    background-color:black;
    justify-content: center;
    display: flex;
    animation: move 10s ease-in-out infinite;
    margin: auto;
    flex-wrap: wrap;

}

@keyframes move {
    0%{
        transform:translate(-30%, 0);
    }

    50%{
        text-shadow: 0 25px 58px rgba(red, green, blue, alpha);
    }
    100%{
        transform: translate(30%);
    }
}

nav p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;

}

footer p{
    justify-content: center;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

img{
    width: 50%;
    flex-wrap: wrap;
    text-align:center;
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    text-align: center;
}


